USE [Allatmenhely]
GO
/****** Object:  Table [dbo].[ALLATOK]    Script Date: 2026. 10. 05. 19:06:53 *****/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLATOK](
	[azon_id] [int] NOT NULL,
	[fajta] [nvarchar](30) NULL,
	[szin] [nvarchar](20) NULL,
	[tuladonsag] [nvarchar](30) NULL,
	[kep] [nvarchar](255) NULL,
	[gondozo_id] [smallint] NOT NULL,
	[orvos_id] [smallint] NULL,
	[foglal_ido] [date] NULL,
	[orokbef_all] [real] NULL,
 CONSTRAINT [PK_ALLATOK] PRIMARY KEY CLUSTERED 
(
	[azon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOLGOZOK]    Script Date: 2026. 10. 05. 19:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOLGOZOK](
	[gontozo_id] [smallint] NOT NULL,
	[gondozo_nev] [nvarchar](30) NOT NULL,
	[tel_szam] [nvarchar](11) NULL,
 CONSTRAINT [PK_DOLGOZOK] PRIMARY KEY CLUSTERED 
(
	[gontozo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LATOGATAS]    Script Date: 2026. 10. 05. 19:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATOGATAS](
	[foglal_ido] [date] NOT NULL,
	[foglal_nev] [nvarchar](30) NOT NULL,
	[azon_id] [int] NOT NULL,
 CONSTRAINT [PK_LATOGATAS] PRIMARY KEY CLUSTERED 
(
	[foglal_nev] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORVOSOK]    Script Date: 2026. 10. 05. 19:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORVOSOK](
	[orvos_id] [smallint] NOT NULL,
	[orvos_nev] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ORVOSOK] PRIMARY KEY CLUSTERED 
(
	[orvos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIZSGALAT]    Script Date: 2026. 10. 05. 19:06:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIZSGALAT](
	[orvos_id] [smallint] NOT NULL,
	[azon_id] [int] NOT NULL,
	[orvosi_ido] [date] NOT NULL,
	[betegseg] [nvarchar](50) NULL,
	[oltas] [real] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ALLATOK]  WITH CHECK ADD  CONSTRAINT [FK_ALLATOK_DOLGOZOK] FOREIGN KEY([gondozo_id])
REFERENCES [dbo].[DOLGOZOK] ([gontozo_id])
GO
ALTER TABLE [dbo].[ALLATOK] CHECK CONSTRAINT [FK_ALLATOK_DOLGOZOK]
GO
ALTER TABLE [dbo].[ALLATOK]  WITH CHECK ADD  CONSTRAINT [FK_ALLATOK_ORVOSOK] FOREIGN KEY([orvos_id])
REFERENCES [dbo].[ORVOSOK] ([orvos_id])
GO
ALTER TABLE [dbo].[ALLATOK] CHECK CONSTRAINT [FK_ALLATOK_ORVOSOK]
GO
ALTER TABLE [dbo].[LATOGATAS]  WITH CHECK ADD  CONSTRAINT [FK_LATOGATAS_ALLATOK] FOREIGN KEY([azon_id])
REFERENCES [dbo].[ALLATOK] ([azon_id])
GO
ALTER TABLE [dbo].[LATOGATAS] CHECK CONSTRAINT [FK_LATOGATAS_ALLATOK]
GO
ALTER TABLE [dbo].[VIZSGALAT]  WITH CHECK ADD  CONSTRAINT [FK_VIZSGALAT_ALLATOK] FOREIGN KEY([azon_id])
REFERENCES [dbo].[ALLATOK] ([azon_id])
GO
ALTER TABLE [dbo].[VIZSGALAT] CHECK CONSTRAINT [FK_VIZSGALAT_ALLATOK]
GO
ALTER TABLE [dbo].[VIZSGALAT]  WITH CHECK ADD  CONSTRAINT [FK_VIZSGALAT_ORVOSOK] FOREIGN KEY([orvos_id])
REFERENCES [dbo].[ORVOSOK] ([orvos_id])
GO
ALTER TABLE [dbo].[VIZSGALAT] CHECK CONSTRAINT [FK_VIZSGALAT_ORVOSOK]
GO
